@import '../../../styles/scss/colors';

.titleBox {
    position: relative;
  
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: $green transparent transparent transparent;
    }
  
    h3 {
      text-transform: uppercase;
      padding-top: 35px;
      white-space: break-spaces;
    }
  
    @media (max-width: 768px) {
      h3 {
        font-size: 20px;
        padding-top: 30px;
        line-height: 30px;
      }
    }
  }