@import '../../../styles/scss/colors';

.body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  p {
    line-height: 2em;
  }

  & > div:first-child {
    padding: 20px;
  }
}

.share {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  margin-top: 75px;

  h5 {
    margin-bottom: 0;
    color: $green;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  a {
    height: 45px;
    width: 45px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkGreen;
    transition: all 350ms ease;

    &:hover {
      color: $green;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 17px;
  }
}