@import "../../../styles/scss/colors";

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  background-image: url("../../../../public//images/new/bg-call-to-action.png");
  background-repeat: no-repeat;
  background-size: cover;

  button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 16px;
    &:hover {
      color: $white;
    }
  }

  h4 {
    color: $green;
  }

  h3 {
    color: $white;
  }

  p {
    color: $white;
    text-align: center;
    max-width: 680px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    p {
      margin-right: 70px;
      margin-left: 70px;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: $darkGreen;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, $darkGreen 0%, rgba(41, 89, 101, 0) 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.decorBottom {
  bottom: 0;
  left: 0;
  z-index: 2;
}

.decorTop {
  top: 0;
  right: 0;
  z-index: 2;
}