@import "../../../styles/scss/colors";

.negociosSection {
  margin-top: 200px;
  position: relative;

  h3 {
    margin-bottom: 70px;
  }
}

.logoBox {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  :global(.row) > div:nth-child(2) .negocioBox {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.decor {
  right: 0;
  top: -120px;
  transform: rotateX(180deg) rotateY(180deg)
}