@import "../../../styles/scss/colors";

.contactSection {
  padding-top: 115px;
  background: $snow;

  @media (max-width: 992px) {
    padding-bottom: 150px;
  }

  .infosBox {
    color: $granite;
    white-space: break-spaces;
    p {
      margin: 30px 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 15px;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $granite;
          img {
            width: 15px;
            height: 15px;
            margin-right: 13px;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    @media (max-width: 992px) {
      max-width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        li {
          margin-right: 45px;
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        flex-direction: column;
        li {
          margin-right: 0;
          &:first-child {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

.formBox {
  background: $white;
  max-width: 480px;
  padding: 50px 50px 40px;
  box-shadow: rgba(61,65,84,0.2) 0 0 20px;
  position: relative;
  top: -175px;
  z-index: 1;

  @media (max-width: 992px) {
    max-width: 560px;
    margin: 0 auto;
    top: initial;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 30px 20px 30px;
    top: 30px;
  }
}

.spinner {
  color: $darkGreen;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}