@import "../../../styles/scss/colors";

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroSection {
  /* background-image: url("../../../../public/images/bg-banner@2x.png"); */
  background-image: url("../../../../public/images/new/grad.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 55% 115%;
  /* height: 765px; */

  @media (max-width: 992px) {
    height: 465px;
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    height: 100%;
    min-height: 550px;
    background-size: 95% 60%;
    background-position: top right;
    margin-top: 10px;
    padding: 0 10px;

    .heroSliderImage {
      max-width: 270px;
      margin: 0 auto;
    }

    .heroSlider {
      margin-top: 75px;
    }

    &::before {
      height: 60%;
    }
  }
}

.heroSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  img {
    max-width: 150px !important;
    height: 35px !important;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      white-space: break-spaces;
    }
  }
}

.content {  
  animation: fade-in-right 1s ease both;

  &:not(:global(.active)) {
    display: none;
  }

  @media (max-width: 768px) {
    
  }
}

.arrows {
  display: flex;

  button:first-child {
    margin-right: 7.5px;
  }

  button:nth-child(2) {
    margin-left: 7.5px;
  }

  button:active {
    transform: scale(0.95);
  }

  button {
    padding: 0;
    cursor: pointer;
    border: 0;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $green;
    text-align: center;
    width: 35px;
    height: 35px;
    position: relative;
    transition: all 150ms ease-out;

    svg {
      transition: all .25s ease-in-out;
    }

    &:hover svg {
      transform: scale(1.15);
    }
  }
}

.heroSliderImage {
  position: relative;
  height: 100%;
  margin-top: 35px;

  div:nth-child(2) img {
    z-index: 1;
  }

  .monitorContent {
    position: absolute;
    z-index: 2;
    left: 112px;
    top: 63px;
    transform: translateX(-52px);

    @media (max-width: 1400px) {
      left: 105px;
      top: 55px;
    }

    @media (max-width: 1200px) {
      left: 98px;
      top: 51px;
    }

    @media (max-width: 992px) {
      left: 75px;
      top: 40px;
      transform: translateX(-39px);
    }
  
    @media (max-width: 768px) {
      left: 52px;
      top: 27px;
      transform: translateX(-27px);
    }

    & > div {
      animation: fade-in-left 1s ease both;
      img {
        max-width: 100%;
      }
    }

    & > div:not(:global(.active)) {
      display: none;
    }
  }
}


.decor {
  top: 11%;
  right: -6%;
  animation: bob 1s ease-out infinite both alternate;

  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    top: 15%;
    right: 0;
    width: 100%;
    left: 0;
    max-width: 330px;
    margin: 0 auto;
  }
}

@keyframes bob {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-4px);
  }
}

.decorations {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  & > * {
    position: absolute;
  }

  & > div:nth-child(1) {
    bottom: -50%;
    right: -83%;

    @media (max-width: 1200px) {
      bottom: -42%;
      right: -87%;
    }

    @media (max-width: 992px) {
      width: 44px;
      bottom: -41%;
      right: -82%;
    }
  
    @media (max-width: 768px) {
      width: 35px;
      bottom: -51%;
      right: -81%;
    }
  
    @media (max-width: 576px) {
    }
  }

  & > div:nth-child(2) {
    max-width: none !important;
    top: -20%;
    left: -25%;
    width: 143%;
    z-index: 1;
    animation: bob 1s ease-out infinite both alternate;

    @media (max-width: 1200px) {
      top: -35%;
    }
  
    @media (max-width: 768px) {
      width: 125%;
      top: -35%;
      left: -11%;
    }
  
    @media (max-width: 576px) {
    }
  }
}