@import "../../scss/colors";

.footer {
  background: $primary;
  padding: 100px 0 75px 0;
  position: relative;
  border-top: 6px solid $secondary;

  /*& :global(.row) {
    padding-top: 50px;
  }*/

  @media (max-width: 992px) {
    .footerLogo {
      text-align: center;
      margin: 0 auto 40px;
    }
  }

  @media (max-width: 768px) {
    .footerLogo {
      margin: 0 auto;
    }
  }
}

.footerLogo {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;

  & + div {
    margin-top: 20px;
    @media (max-width: 768px) {
      margin-top: 0;
      text-align: center;
      font-size: 14px;
    }
    p {
      margin: 0;
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    width: 70%;
  }
}

.footer {
  h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      &:first-child {
        margin-bottom: 5px;
      }
      &:last-child {
        margin-top: 5px;
      }

      a {
        font-size: 14px;
        text-decoration: none;
        letter-spacing: .2px;
        color: #fff;
        display: flex;
        align-items: center;
        transition: all .285s ease-in-out;

        img {
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

.footerBox {
  @media (max-width: 992px) {
    & > div {
      padding: 10% 10% 10% 10% !important;
      text-align: center;
      a {
        justify-content: center;
      }
    }
  }

  &:nth-child(1) > div {
    padding-right: 30px;
  }

  &:nth-child(2) > div {
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 30px;
  }

  &:nth-child(3) > div {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
  }
}

.decor {
  bottom: 0;
  right: 0;
}