@import '../../../styles/scss/colors';

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: $snow;
  position: relative;

  :global {
    .container {
      max-width: 800px;
    }
  }
}

.card {
  position: relative;
  background: $white;
}

.thumbnail {
  & > div {
    position: relative;
    height: 285px;
    margin-bottom: 35px;

    &::after {
      display: block;
      content: "";
      background-image: linear-gradient(0deg,rgba(0,0,0,.35),transparent 75%);
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      opacity: 1;
      transition: all .3s ease-out;
    }

    &:hover::after {
      opacity: 0;
    }

    & > div {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }
}

.badge {
  position: absolute;
  top: 0;
  margin: 20px;
  padding: 5px 12px;
  background-color: $green;
  color: $white;
}

.body {
  padding: 0 25px;
  padding-bottom: 30px;

  h3 {
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    &:last-child {
      font-weight: bold;
      color: $green;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;

  h3 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: $green;
    transition: all 350ms ease;
    &:hover {
      color: $darkGreen;
    }
  }
}

.decorLeft {
  top: -150px;
  left: 0;
}

.decorRight {
  top: 0;
  right: 0;
}