@import '../../../styles/scss/colors';

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: $snow;
  position: relative;

  :global {
    .container {
      max-width: 800px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;

  h3 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: $green;
    transition: all 350ms ease;
    &:hover {
      color: $darkGreen;
    }
  }
}

.decorLeft {
  top: -150px;
  left: 0;
}

.decorRight {
  top: 0;
  right: 0;
}