@import "../../../styles/scss/colors";

.footer {
  background: $darkGreen;
  padding: 150px 0 75px 0;
  position: relative;
  border-top: 6px solid $green;
  position: relative;

  /*& :global(.row) {
    padding-top: 50px;
  }*/

  @media (max-width: 992px) {
    .footerLogo {
      text-align: center;
      margin: 0 auto 40px;
    }
  }

  @media (max-width: 768px) {
    .footerLogo {
      margin: 0 auto;
    }
  }
}

.footerLogo {
  display: flex;
  align-items: center;

  & + div {
    margin-top: 30px;
    @media (max-width: 768px) {
      margin-top: 0;
      text-align: center;
      font-size: 14px;
    }
    p {
      margin: 0;
      color: $white;
    }
  }

  @media (max-width: 768px) {
    width: 70%;
  }
}

.footer {
  h5 {
    color: white;
    margin-bottom: 25px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      &:first-child {
        margin-bottom: 5px;
      }
      &:last-child {
        margin-top: 5px;
      }
    }
  }
}

.footerBox {
  color: $white;
  a {
    text-decoration: none;
    color: $white;
  }

  & > div {

  }

  @media (max-width: 992px) {
    & > div {
      padding: 10% 10% 10% 10% !important;
      text-align: center;
      a {
        justify-content: center;
      }
    }
  }

  &:nth-child(2) > div {
    
  }

  &:nth-child(3) > div {
    a {
      font-weight: bold;
      span {
        color: $green;
      }
    }
    margin-left: -15px;
  }

  &:nth-child(4) > div {
    
  }
}

.footerBottom {
  width: 100%;
  padding: 16px 0;
  background-color: #224751;
  text-align: center;
  color: $white;
  font-size: 10px;
  line-height: 18px;
}

.decorTop {
  top: -153px;
  left: 0;
}

.decorBottom {
  bottom: 0;
  right: 0;
}