@import "src/styles/scss/colors";

.newsSection {
  margin-top: -75px;
}

.newsForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 75px;
  background-color: $white;
  position: relative;
  z-index: 1;

  @media (max-width: 992px) {
    padding: 42px;
  }
  @media (max-width: 768px) {
    padding: 32px;
  }

  & > div:nth-child(1) {
    h3, h5 {
      margin-bottom: 0;
    }

    h5 {
      color: $green;
    }

    @media (max-width: 1200px) {
      text-align: center;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  & > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    input {
      padding: 10px 25px;
      width: 285px;
      background-color: $snow;
      color: $carbon;
      border: 1px solid $steel;
      margin-right: 7px;
    }

    @media (max-width: 1200px) {
      width: 100% !important;

      input {
        width: 75% !important;
        margin: 0;
      }
      button {
        width: 25% !important;
      }
    }

    @media (max-width: 576px) {
      input {
        width: 100% !important;
        margin-bottom: 1rem;
      }
      button {
        width: 100% !important;
      }
    }
  }
}