@import "src/styles/scss/colors";

.newsSection {
  margin-top: -75px;
}

.newsForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 75px;
  background-color: $white;
  position: relative;
  z-index: 1;

  & > div:nth-child(1) {
    h3, h5 {
      margin-bottom: 0;
    }

    h5 {
      color: $green;
    }
  }

  & > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    input {
      padding: 10px 25px;
      width: 285px;
      background-color: $snow;
      color: $carbon;
      border: 1px solid $steel;
      margin-right: 7px;
    }
  }
}