@import "../../../styles/scss/colors";

.section {
  margin-bottom: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape {
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  width: 100%;
  transform: rotate(180deg);
  background-color: $green;
  
  svg {
    width: calc(150% + 1.3px);
    height: 550px;

    display: block;
    position: relative;
    left: 50%;
    z-index: -2;
    transform: translateX(-50%);

    path {
      position: relative;
      z-index: -2;
      fill: $snow;
    }
  }
}

.heroText {
  z-index: 1;

  h3 {
    color: $green;
  }
  h1 {
    color: $darkGreen;
  }
  span {
    display: inline-block;
    max-width: 400px;
  }
}