.image {
  position: relative;
}

.typewriter {
  width: 90%;
  position: relative;
  z-index: 1;
}

.triangles {
  transform: rotate(180deg);
  position: absolute;
  top: -90px;
  left: -35px;
  width: 100%;
}