/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../../../public/fonts/raleway-v22-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../../public/fonts/raleway-v22-latin-600.eot?#iefix") format("embedded-opentype"), url("../../../public/fonts/raleway-v22-latin-600.woff2") format("woff2"), url("../../../public/fonts/raleway-v22-latin-600.woff") format("woff"), url("../../../public/fonts/raleway-v22-latin-600.ttf") format("truetype"), url("../../../public/fonts/raleway-v22-latin-600.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../../public/fonts/lato-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../../public/fonts/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../public/fonts/lato-v17-latin-regular.woff2") format("woff2"), url("../../../public/fonts/lato-v17-latin-regular.woff") format("woff"), url("../../../public/fonts/lato-v17-latin-regular.ttf") format("truetype"), url("../../../public/fonts/lato-v17-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
body {
  font-family: Lato, "sans-serif";
  color: #717F90;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #295965;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 42px;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 28px;
    line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 26px;
  }

  h5 {
    font-size: 15px;
    line-height: 24px;
  }

  h6 {
    font-size: 14px;
    line-height: 22px;
  }
}
.body-large {
  font-size: 18px;
  line-height: 32px;
}

p, .body {
  font-size: 16px;
  line-height: 26px;
}

.body-small {
  font-size: 14px;
  line-height: 24px;
}

.caption, .caption-upper {
  font-size: 12px;
  line-height: 18px;
}

.caption-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .body-large {
    font-size: 16px;
    line-height: 26px;
  }

  p, .body {
    font-size: 15px;
    line-height: 24px;
  }

  .body-small {
    font-size: 14px;
    line-height: 22px;
  }

  .caption, .caption-upper {
    font-size: 12px;
    line-height: 16px;
  }

  .caption-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
a:hover {
  color: #00B5A5;
}

.navbar-light .navbar-nav .nav-link {
  color: #295965;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00B5A5;
}

@media (min-width: 1400px) {
  h1, h2, h3, h4, h5, h6 {
    white-space: break-spaces !important;
  }
}
@media (max-width: 1400px) {
  h1, h2, h3, h4, h5, h6 {
    white-space: normal !important;
  }
}
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin-top: 75px;
  background-color: #FFFFFF;
}

.title-box {
  position: relative;
}
.title-box::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #00B5A5 transparent transparent transparent;
}
.title-box h3 {
  letter-spacing: 0.44px;
  text-transform: uppercase;
  padding-top: 35px;
}
@media (max-width: 768px) {
  .title-box h3 {
    font-size: 20px;
    padding-top: 30px;
    line-height: 30px;
  }
}

.decoration {
  position: absolute;
}
.decoration img {
  max-width: 110px;
}
@media (max-width: 768px) {
  .decoration img {
    max-width: 60px;
  }
}

.ivt-btn, .ivt-btn-alt {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  transition: 150ms ease;
  border: 0;
  border-radius: 2px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.ivt-btn {
  background-color: #295965;
}
.ivt-btn:hover {
  background-color: #00B5A5;
}

.ivt-btn-alt {
  background-color: #00B5A5;
}
.ivt-btn-alt:hover {
  background-color: #295965;
}

@media (max-width: 576px) {
  div.col-12 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
